/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------*/

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 97%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

#container {
  width: 90%;
  height: 50%;
  background-color: rgb(63, 63, 63);
  border: solid 1px rgb(27, 27, 27);
  border-radius: 5px;
}

#title {
  padding: 2%;
  color: #bdc1c6;
  display: inline-block;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  padding-top: 10px;
  border-bottom: 1px solid #cacbcc;
  font-family: arial, sans-serif;
  font-weight: 400;
  width: 100%;
}

#metronome {
  height: 59%;
  padding: 1%;
}

.display {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #bdc1c6;
  font-size: 3vh;
}

.displayMain {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1%;
}

#bpmDisplay {
  font-weight: bold;
  color: #bdc1c6;
}

#bpmText {
  display: flex;
  align-items: end;
  color: #bdc1c6;
  margin-left: 1%;
}

.button {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: none;
}

#play {
  background: none;
  border: none;
}

#bpmDisplay {
  display: inline-block;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  padding-top: 10px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}

.control button {
  background: none;
  border: none;
  font-size: 2em;
  font-weight: bold;
}

#tempo {
  width: 80%;
  align-items: center;
}

#tempo::-webkit-slider-thumb {
  background-color: #a7e6f9;
}


.resolution {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  margin-top: 2%;
  /* Ajusta según sea necesario */
  margin-top: 2%;
  margin-left: 1%;
  font-size: 2em;
  font-weight: bold;

  color: #bdc1c6;
}

.volume {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  margin-top: 2%;
  /* Ajusta según sea necesario */
}

.volume input[type="range"] {
  width: 30%;
  /* Ajusta el ancho según sea necesario */
}